language: r

cache: packages

install:
  - R -e "devtools::install_deps('paws.common', dep = T)"
  - R -e "devtools::install('paws.common')"
  - R -e "install.packages(setdiff(strsplit(packageDescription('paws.codegen', '.')$Imports, ', ?\n?', perl = T)[[1]], 'paws.common'))"

script:
  - R CMD build paws.common && R CMD check paws.common*.tar.gz
  - R CMD build paws.codegen && R CMD check paws.codegen*.tar.gz

after_success:
  - Rscript script/codecov.R paws.common paws.codegen
