export(list_aws_services)
export(category_service_ops_count)
export(make_sdk)
export(paws_check)
export(paws_release_sub_category)
export(paws_release_category)
export(paws_release)
export(paws_uninstall)
export(paws_install)
export(paws_check_url)
import(data.table)
importFrom(paws.common,is_empty)
importFrom(paws.common,tag_add)
importFrom(paws.common,tag_del)
importFrom(paws.common,tag_get)
importFrom(paws.common,tag_has)
importFrom(paws.common,type)
importFrom(urlchecker,url_check)
importFrom(stats, setNames)
