export(list_aws_services)
export(category_service_ops_count)
export(make_sdk)
export(make_cran)
import(data.table)
importFrom(paws.common,is_empty)
importFrom(paws.common,tag_add)
importFrom(paws.common,tag_del)
importFrom(paws.common,tag_get)
importFrom(paws.common,tag_has)
importFrom(paws.common,type)
importFrom(stats, setNames)
