export(list_aws_services)
export(category_service_ops_count)
export(make_sdk)
export(make_cran)
export(paws_check_local)
export(paws_check_rhub_sub_cat)
export(paws_check_rhub_cat)
export(paws_check_rhub)
export(paws_check_win_devel_sub_cat)
export(paws_check_win_devel_cat)
export(paws_check_win_devel)
export(paws_release_sub_cat)
export(paws_release_cat)
export(paws_release)
export(paws_uninstall)
export(paws_install)
export(paws_check_url)
import(data.table)
importFrom(paws.common,is_empty)
importFrom(paws.common,tag_add)
importFrom(paws.common,tag_del)
importFrom(paws.common,tag_get)
importFrom(paws.common,tag_has)
importFrom(paws.common,type)
importFrom(urlchecker,url_check)
importFrom(stats, setNames)
